(Local) FP3:  English natural language text --> API
(Local)  FP4:  English prompot with Telugu Words --> API
      Telugu prompt with Telugu words --> API

(Remote) FP5:  Hosted the APIs at http://ananya.telugupuzzle.com
        Make sure that it works on remote host

(Remote) FP6: Stablization and closing any gaps at http://ananya.telugupuzzle.com

(Remote) FP7, F8, FP9, FP10:  Based a prompt, you generate a word search puzzle.

--> Give me a Telugu puzzle on Dances of India  (default count = 10, gird size 16 x 12)
---> Using AI features, identify 10 words
--> Using our ananya API, break it into logical characters
--> Build the word search puzzle
--> Build the solution to the word search puzzle
--> If I give a text file having 100 themes, you mass generate that many puzzles.
All the puzzles (and solutions) will be shown in HTML and I can use browser print to produce PDF.








==========

Web Application that has Chat interface where visitors can ask questions.

Visitors to our site are interacting with AI chatbot with such kind of questions.
You must rely on the APIs to parse the text and to respond these questions.

AI/LLM --> mapping to MCP Server --> Tools/APIs --> (web search / relying on the generic capabilities of LLM tools) --> Providing the response.

Until you gain the familiarity with the APIs, just work on English language.

1. Can you give me 3 char words that rhyme with cat?
2. Can you give me 5 char words with a prefix "al" and give me 10 such words?
3. Can you reverse the word "abracadabra"?
4. Can you make 10 legal words from the given word "minneapolis"?
5. 4. Can you make 10 legal words which are of 4 char length from the given word "minneapolis"?
6.
7.
What are the some typical questions QUIZ makers face while parsing words or test?

===========
Niner Puzzle App : fixed grid - crossword (9x9)
Generating puzzles in English and Telugu through AI/LLM
placing the words - generating the corresponding hints 
